.row-header {
  margin: 0px auto;
  padding: 0px auto; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #D1CAE9; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

.navbar-dark {
  background-color: #512DA8; }

.hr {
  width: 800px;
  border: 1px solid #512DA8;
}

.Navi_link {
  text-align: center;
}

.Navi_link2 {
  text-align: right;
}

.spin {
  text-align: center;
}