.row-header {
  margin: 0px auto;
  padding: 0px auto; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #D1CAE9; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #9575CD;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

.navbar-dark {
  background-color: #512DA8; }

.hr {
  width: 800px;
  border: 1px solid #512DA8;
}

.Navi_link {
  text-align: center;
}

.Navi_link2 {
  text-align: right;
}

.spin {
  text-align: center;
}

.page-enter {
  opacity: 0.001;
  transform: matrix(0.01, -1, -1, 0.98, 0, 0);
}
.page-enter-active {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 2000ms cubic-bezier(0.645, 0.045, 0.355, 1.000);;
}

.page-exit {
  opacity: 1;
  transform:  matrix(1, 0, 0, 1, 0, 0);
}
.page-exit-active {
  opacity: 0.001;
  transform: matrix(-0.01, -0.25, 0.25, -0.9, 0, 0);
  transition: all 2000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.menucard:hover {
  transform: scale(1.1, 1.05);
}


.pg-enter {
  opacity: 0.001;
}
.pg-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.pg-exit {
  opacity: 1;
}
.pg-exit-active {
  opacity: 0.001;
  transition: opacity 200ms;
}
